<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.atlas-trading.argocd-portforward</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/kubectl</string>
    <string>port-forward</string>
    <string>-n</string>
    <string>argocd</string>
    <string>svc/argocd-server</string>
    <string>8081:80</string>
    <string>--address=0.0.0.0</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/argocd-portforward.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/argocd-portforward.err</string>
</dict>
</plist>
